# Environment Mode
NODE_ENV=development

# Server Configuration
PORT=3000
LOG_LEVEL=info

# Database & Cache
DATABASE_URL=postgres://root:rootpassword@localhost:5433/rate_limiter
REDIS_URL=redis://localhost:6380

# Rate Limiter Algorithm: 'sliding_window' (default) or 'token_bucket'
RATE_LIMIT_ALGORITHM=sliding_window
